In [5]:
import pandas as pd

In [29]:
in_put = [1900, 1950, 2000]
df_path = []
df = []
i = 0
for item in in_put:
    df_path.append('names/' + 'yob' + str(item) + '.txt')
    df.append(pd.read_csv(df_path[i], header=None, names=['Name', 'Gender', 'Count']))
    df[i]['Year'] = item
    i += 1
main_df = pd.concat([item for item in df])
out = main_df.groupby(['Name']).sum()
out = out.sort_values(['Count'], ascending=False)[0:3]
out.Count

Name
James     111798
John      109593
Robert    101373
Name: Count, dtype: int64

In [32]:
in_put = [1900, 1950, 2000]
df_path = []
df = []
i = 0
for item in in_put:
    df_path.append('names/' + 'yob' + str(item) + '.txt')
    df.append(pd.read_csv(df_path[i], header=None, names=['Name', 'Gender', 'Count']))
    df[i]['Year'] = item
    i += 1
main_df = pd.concat([item for item in df])
out = main_df.groupby(['Gender', 'Year']).sum()
out.unstack('Gender')

          Count
Gender        F        M
Year
1900     299800   150483
1950    1713151  1790549
2000    1815110  1962969